In [1]:
import pandas as pd
import seaborn as sns

In [2]:
claims = pd.read_csv(r'./Assessment 1 Data Files/tsa_claims2.csv')
claims.head()

c:\Users\TSHIAMO\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Claim Number,Date Received,Incident Date,Airport Code,Airport Name,Airline Name,Claim Type,Claim Site,Item,Claim Amount,Status,Close Amount,Disposition
0,0909802M,4-Jan-02,12/12/2002 0:00,EWR,Newark International Airport,Continental Airlines,Property Damage,Checkpoint,Other,$350.00,Approved,$350.00,Approve in Full
1,0202417M,2-Feb-02,1/16/2004 0:00,SEA,Seattle-Tacoma International,NaN,Property Damage,Checked Baggage,Luggage (all types including footlockers),$100.00,Settled,$50.00,Settle
2,0202445M,4-Feb-02,11/26/2003 0:00,STL,Lambert St. Louis International,American Airlines,Property Damage,Checked Baggage,Cell Phones,$278.88,Settled,$227.92,Settle
3,0909816M,7-Feb-02,1/6/2003 0:00,MIA,Miami International Airport,American Airlines,Property Damage,Checkpoint,Luggage (all types including footlockers),$50.00,Approved,$50.00,Approve in Full
4,2005032379513,18-Feb-02,2/5/2005 0:00,MCO,Orlando International Airport,Delta (Song),Property Damage,Checkpoint,Baby - Strollers; car seats; playpen; etc.,$84.79,Approved,$84.79,Approve in Full

# Examine the data

In [3]:
claims.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204267 entries, 0 to 204266
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Claim Number   204267 non-null  object
 1   Date Received  204004 non-null  object
 2   Incident Date  202084 non-null  object
 3   Airport Code   195743 non-null  object
 4   Airport Name   195743 non-null  object
 5   Airline Name   169893 non-null  object
 6   Claim Type     196354 non-null  object
 7   Claim Site     203527 non-null  object
 8   Item           200301 non-null  object
 9   Claim Amount   200224 non-null  object
 10  Status         204262 non-null  object
 11  Close Amount   135315 non-null  object
 12  Disposition    131359 non-null  object
dtypes: object(13)
memory usage: 170.3 MB

In [4]:
claims.nunique(dropna=False)

Claim Number     204258
Date Received      4008
Incident Date     26808
Airport Code        466
Airport Name        486
Airline Name        319
Claim Type           12
Claim Site            7
Item               4705
Claim Amount      36118
Status               16
Close Amount      17163
Disposition           4
dtype: int64

In [6]:
claims.apply(pd.unique)

Claim Number     [0909802M, 0202417M, 0202445M, 0909816M, 20050...
Date Received    [4-Jan-02, 2-Feb-02, 4-Feb-02, 7-Feb-02, 18-Fe...
Incident Date    [12/12/2002 0:00, 1/16/2004 0:00, 11/26/2003 0...
Airport Code     [EWR, SEA, STL, MIA, MCO, CAK, PHL, BWI, PHX, ...
Airport Name     [Newark International Airport, Seattle-Tacoma ...
Airline Name     [Continental Airlines, nan, American Airlines,...
Claim Type       [Property Damage, Passenger Property Loss, nan...
Claim Site       [Checkpoint, Checked Baggage, Other, Motor Veh...
Item             [Other, Luggage (all types including footlocke...
Claim Amount     [$350.00 , $100.00 , $278.88 , $50.00 , $84.79...
Status           [Approved, Settled, Canceled, Denied, Insuffic...
Close Amount     [$350.00 , $50.00 , $227.92 , $84.79 , $227.00...
Disposition                   [Approve in Full, Settle, nan, Deny]
dtype: object